*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /* font-family: Tahoma; */
    font-family:Calibri;
    font-weight: 400;
    font-size: 1.1em;
    background: #161625;
    color: mintcream;
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
h1,body p{
    margin:0;
    padding: 0;
}
.header h1{
    font-weight: 900;
    margin-top: 2vh;
    
    
}
.header{
    flex-flow: row;
    justify-content: space-between;
}
.nav-button-left{
    /* align-content: center; */
    
    font-size: 1.5em;
    width: 2em;
    position: absolute;
    top: 3vh;
    left: 0;
}
.nav-button-left a{
    color: inherit;
}
.nav-button-left a:visited{
    color: inherit;
}
.nav-button-left a:active{
    color: inherit;
}

.nav-button{
    /* align-content: center; */
    
    font-size: 1.5em;
    width: 2em;
    position: absolute;
    top: 3vh;
    right: 0;
}
/* search bar */
.search{
    margin-top: 2vh;
    /* color: lightcyan; */
    flex-direction: column;
}
.search-bar-cont{
    position: relative;
    width:calc(100% - 4rem);
}
.search-bar{
    border: 0;
    margin: 0;
    /* margin-top: 0.5rem; */
    outline: 0;
    padding: 0 0 0 3rem;
    overflow-x: hidden;
    height: 2rem;
    overflow: scroll!important;
    border-radius: 5px;
    box-shadow: 0px 10px 30px #000;
    background: #1e1e30;
    color: inherit;
    width: 100%;
    font: inherit;
    /* color: inherit; */
}
.search-state-options{
    width: 100%;
    background-color: #161625;
    box-shadow: 0px 10px 30px #000;
    border-radius: 0 0 5px 5px;
    /* min-height: 10rem; */
    max-height: 10rem;
    overflow-y: scroll;
    display: none;
    position: absolute;
    top: 2rem;
    z-index: 1;
}
.search-state-options ul{
    list-style-type: none;
    margin: 0;
    
}
.search-icon{
    position: absolute;
    left: 1rem;
    top: 0.07rem;
}
.time{
    margin-top: 2rem;
}
.total-data-display{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
    font-size: 0.9em;
    width: 100%;
}
.state-name-display{
    width: 100%;
}
.total-data-display:hover{
    cursor: pointer;
}
.highlighter{
    position: absolute;
    left: 0;

    width: 25%;
    height: 100%;
    background: #ff073a;
    opacity: 0.1;
    border-radius: 5px;
}
.total-data-counter{
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.total-data-counter h3{
    margin: 0;
    font-weight: 500;
}
.total-data-counter h4{
    margin: 0;
    margin-top: 0.5em;
    font-weight: 500;
    opacity: 0.8;
}
.deceased{
    color: gray;
}
.active{
    color: #007bff;
}
.recovered{
    color: #28a745;
}
.confirmed{
    color:#ff073a;
}
.state-display{
    width: 100%;
    overflow-x: scroll;
}
.state-display table{
    margin:2rem 1rem 2rem 1rem;
    width: 200%;
}

/* rgb(30,30,48)
rgba(108, 117, 125, 0.063) */

.state-display th{
    height: 4rem;
    font-size: 1.2em;
    background: rgb(68, 77, 85);
    border-radius: 5px;  
}
#table-body td{
    height: 2rem;
    text-align: right;
    padding: 8px;
    
    border-radius: 5px;
    /* margin-left: 55px; */
}
#table-body tr:nth-child(odd){
    background:rgb(30,30,48);
    
}

#table-body tr *:first-child{
    text-align: left;
    background: rgb(68, 77, 85);
    padding-left: 1rem;
    position: sticky;
    left: 0;
}
text{
    z-index: 1;
    
    opacity: 1;
    /* fill: orange; */
}
.wrapper{
    width: 100%;
}
.center .map svg{
    width: 100%;
}
.map{
    width: 100%
}

@media screen and (min-width: 550px) {
    
    .search-bar-cont{
        max-width: 800px;
    }
    .total-data-display{
        width: 100%;
        max-width: 600px;
    }
    .map{
        max-width: 600px;
    }
    .state-display{
        width: 800px;
        /* overflow: scroll; */
    }
    .state-display table{
        width:150%;
    }
}
@media screen and (min-width: 1100px){
    body{
        font-size: 1.5em;
    }
    .total-data-display{
        width: 100%;
        width: 50%;
    }
    .map{
        width: 50%;
    }
    .state-display{
        width: 40%;
        
    }
    .state-display table{
        width:150%;
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: 3rem;
    }
    .content-left, .content-right{
        width: 50%;
    }
    .state-display{
        width: 100%;
        /* overflow: scroll; */
    }
    .content-left .total-data-display{
        width: 90%;
    }
    .content-left .map{
        width: 90%;
        font-size: 0.6em;
    }
    .search{
        margin-top: 3rem;
    }
}
.animation-apply{
    transition: all ease-in-out 0.2s;
    
}