*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 2em;
}
p, h1{
    margin: 0;
    padding: 0;

}
.wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-image: linear-gradient(to top,black,red);
}
.sec, button{
    margin-top: 7vh;
}
.cont{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px solid black;
}
button{
    display: inline-block;
    width: 15vw;
    height: 6vh;
    border:2px solid black;
    background-color: inherit;
    border-radius: 10px;
    font-size: 1.1em;
    padding-bottom: 10px;
    color: green;
}
button:hover{
    border-color: white;
}

input{
    outline: none;
    border: none;
    height: 5vh;
    background-color: inherit;
    border-radius: 7px;
    font-size: 1.1em;
}
.sec{
    border-bottom: 2px solid green;
}
#error-email{
    font-size: 0.7em;
    justify-content: flex-start;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    color: green;
    border: 2px solid green;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0 0 2rem 0.3rem;
}
.info:hover{
    cursor: pointer;
}
.form-show{
    background: white;
    height: 3rem;
    width: 5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 3px;
    color: black;
    padding: 0.4rem 0 0 0.3rem;
}
.form-show:hover{
    cursor: pointer;
    border: 2px solid black;
}
